.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 14.rem;
    height: 35.2rem;
    background-image: url("../assets/banner-image.png");
    background-size: cover;
    
}
.content-banner{
    width: 113.6rem;
    height: 17rem;
    margin: 15rem ;
    margin-bottom: 3.2rem;
    
}
.title{
    color: #FFFFFF;
    font-size: 5.2rem;
    padding: 1rem;
    

}
.text-banner{
    color: #FFFFFF;
    font-size: 2.2rem;
    padding: 1rem;
}
.button-banner{
    margin-left: 1rem;
    padding: 1rem;
    background-color: #2A7AE4;
    color: #FFFFFF;
    border: none;
    
}
main{
    background: #F5F5F5;

}
.products-contain{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.star-wars{
    width: 17rem;
    font-size: 3.2rem;
    font-family: 'Raleway', sans-serif;
}
.enlace{
    padding: 1rem;
    font-size: 1.6rem;
    color: #2A7AE4;
    border: none;
    background: #F5F5F5;

}
.flecha{
    margin-left: 1rem;
}
.card-section{
    display: flex;
    width: 100%;
    height: 25.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 4rem;
}
.card img{
    max-width: 176px;
    max-height: 252px;
    height: auto;
    width: auto;
}
.products-list h3{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    color: #464646;
    font-weight: 500;

}
.products-list p{
    margin-bottom: 8px;
    font-size: 1.6rem;
    color: #464646;
    font-weight: 700;
    
}
.products-list a{
    margin-bottom: 16px;
    color: #2A7AE4;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
}
.contacto-contain{
    background-color: #EAF2FD;
    width: 100%;
    height: 36.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto-contain ul li{
    list-style: none;
    font-size: 1.6rem;
    color: #464646;
    margin-bottom: 2.4rem;

}
form{
    width: 56rem;
    height: 24rem;
    
}
fieldset{
    border: none;
}
.form__label{
    font-size:1.6rem ;
    font-weight: 700;
    color: #464646;
    margin-bottom: 2rem;

}
#name{
    width: 56rem;
    height: 5rem;
    background-color: #FFFFFF;
    border: none;
    margin-bottom: 1.6rem;
    padding: 1rem;
    color:#A2A2A2;
}
#text{
    width: 56rem;
    height: 8rem;
    border: none;
    margin-bottom: 1.6rem;
    padding: 1rem;
    color:#A2A2A2;

}
.mensaje{
    width: 14rem;
    height: 5rem;
    border: none;
    background: #2A7AE4;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.6rem;

}
